/* RESPONSIVE TABLE */

.responsive-table {
  width: 100%;
  border: 1px solid #000000;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: auto;

  && table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;

    && tr {
      border-bottom: 1px solid #000000;

      &&:last-child {
        border-bottom: none;
      }
    }

    && tr:nth-child(even) {
      background-color: #c5e9ff;
    }

    && th {
      background-color: #e9e9e9;
      font-weight: bold;
      text-align: left;
      border: 1px solid #000000;
    }

    && th,
    td {
      padding: 10px 7px;
    }

    && tr > th:first-child,
    tr > td:first-child {
      left: 0;
      position: sticky;
    }
  }
}

.newDay {
  border-left: 1px solid #000000;
}

.now {
  background-color: #ffcccc;
}

.buoys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  && table {
    max-width: fit-content;
    border-collapse: collapse;
    border: 1px solid #000000;
    overflow-x: auto;

    && tr {
      border-bottom: 1px solid #000000;

      &&:last-child {
        border-bottom: none;
      }
    }

    && tr:nth-child(even) {
      background-color: #ffe7e7;
    }

    && th {
      background-color: #e9e9e9;
      font-weight: bold;
      text-align: left;
      border: 1px solid #000000;
    }

    && td,
    th {
      border-right: 1px solid #000000;
      padding: 4px;
    }
  }
}
