/* RESPONSIVE TABLE */

.responsive-table {
  width: 100%;
  border: 1px solid #000000;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: auto;

  && table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;

    && tr {
      border-bottom: 1px solid #000000;

      &&:last-child {
        border-bottom: none;
      }
    }

    && tr:nth-child(even) {
      background-color: #c5e9ff;
    }

    && th {
      background-color: #e9e9e9;
      font-weight: bold;
      text-align: left;
      border: 1px solid #000000;
    }

    && th,
    td {
      padding: 10px 7px;
      border: 1px solid #000000;
    }

    && tr > th:first-child,
    tr > td:first-child {
      left: 0;
      position: sticky;
    }
  }
}

.newDay {
  border-left: 1px solid #000000;
}

.now {
  background-color: #ffcccc;
}

.table-container {
  display: flex;
  gap: 20px;

  && table {
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;

    && tr {
      border-bottom: 1px solid #000000;

      &&:last-child {
        border-bottom: none;
      }
    }

    && tr:nth-child(even) {
      background-color: #d8f0ff;
    }

    && th {
      background-color: #e9e9e9;
      font-weight: bold;
      text-align: left;
      border: 1px solid #000000;
    }

    && th,
    td {
      padding: 5px;
    }

    && tr > th:first-child,
    tr > td:first-child {
      left: 0;
      position: sticky;
    }
  }
}

.surf-forecast {
  display: flex;
  flex-direction: column;

  && .tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.surf-forecast,
.buoys {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 20px;

  && h1 {
    text-align: center;
  }
}

.buoys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;

  && table {
    max-width: fit-content;
    border-collapse: collapse;
    border: 1px solid #000000;
    overflow-x: auto;

    && tr {
      border-bottom: 1px solid #000000;

      &&:last-child {
        border-bottom: none;
      }
    }

    && tr:nth-child(even) {
      background-color: #ffe7e7;
    }

    && th {
      background-color: #e9e9e9;
      font-weight: bold;
      text-align: left;
      border: 1px solid #000000;
    }

    && td,
    th {
      border-right: 1px solid #000000;
      padding: 4px;
    }
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1368px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

th {
  border: 1px solid #000000;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;

  && ul {
    display: flex;
    gap: 10px;

    && li {
      list-style: none;

      && a {
        text-decoration: none;
        color: #000000;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #e9e9e9;
        transition: background-color 0.3s;

        &&:hover {
          background-color: #c5e9ff;
        }
      }
    }
  }
}
